# ======================
# Data & Outputs (NEVER COMMIT)
# ======================
data/
outputs/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
